In [3]:
import numpy as np
import pandas as pd
# /Data kansio projektin juureen
df = pd.read_csv('../Data/health.csv', sep=';')
df.head()

   ID  Weight  Smoking Exercise Cholesterol Income  Happiness BirthYear Sex
0   1    75.0      0.0        3         5,8   3230       59.0      1964   1
1   2    70.0      0.0        6         5,9   1420       43.0      1952   1
2   3    76.0      0.0        6           6   4930       74.0      1951   1
3   4    62.0      0.0        8         4,7   2970       58.0      1959   1
4   5    44.0      0.0        8         4,3   4780       64.0      1925   1