In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
df = pd.read_csv('data/drone_prod_groups.csv', sep=',')

# Data preprocessing
df = df.drop(columns='ID')
df = df.apply(lambda x: x.map(lambda y: True if y == 1 else False))
df.head()

,Prod1,Prod2,Prod3,Prod4,Prod5,Prod6,Prod7,Prod8,Prod9,Prod10,Prod11,Prod12,Prod13,Prod14,Prod15,Prod16,Prod17,Prod18,Prod19,Prod20
0,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,True
1,False,True,False,False,False,False,False,False,True,False,False,False,False,False,True,True,True,True,True,True
2,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,True,True
3,True,False,False,True,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,True,True

In [2]:
freq = apriori(df, min_support=0.1, use_colnames=True)
# Voiko olla vaa tän verran itemsettejä? Menikö jtn preprocessissa pieleen?
freq

    support            itemsets
0   0.10998            ( Prod1)
1   0.13098            ( Prod2)
2   0.10459            ( Prod5)
3   0.13499            ( Prod7)
4   0.16179            ( Prod8)
5   0.19853            ( Prod9)
6   0.10848           ( Prod11)
7   0.15971           ( Prod12)
8   0.14557           ( Prod14)
9   0.11880           ( Prod15)
10  0.13100           ( Prod16)
11  0.12166           ( Prod18)
12  0.20626           ( Prod19)
13  0.14798           ( Prod20)
14  0.11145   ( Prod9,  Prod15)
15  0.13476  ( Prod20,  Prod19)

In [3]:
# Tehtävä: A clear recommendation on how the company should use the results of the association rule mining to increase its revenue.
# Kannattaa suositella tuotteita ryhmästä 15, jos asiakas ostamassa tuotetta ryhmästä 9 ja toistenpäin. Sama homma ryhmille 19 ja 20.
rules = association_rules(freq, metric='lift', min_threshold=0.5).sort_values(by='lift', ascending=False)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,( Prod9),( Prod15),0.19853,0.11880,0.11145,0.561376,4.725388,1.0,0.087865,2.009011,0.983664,0.541335,0.502243,0.749754
1,( Prod15),( Prod9),0.11880,0.19853,0.11145,0.938131,4.725388,1.0,0.087865,12.954372,0.894663,0.541335,0.922806,0.749754
2,( Prod20),( Prod19),0.14798,0.20626,0.13476,0.910664,4.415125,1.0,0.104238,8.884845,0.907849,0.613997,0.887449,0.782007
3,( Prod19),( Prod20),0.20626,0.14798,0.13476,0.653350,4.415125,1.0,0.104238,2.457869,0.974508,0.613997,0.593144,0.782007